h1, h2, h3, h4, h5, h6, p, div, span {
    color: #333;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

p {
    font-size: 1em;
}

/*
 * Page scaffolding
 */

.main-header {
    background: url('/assets/header-tile-500.gif');
    font-family: "Raleway";
    font-size: 1.5em;
    text-align: center;
    padding: 2em 2em;
    margin-bottom: 3rem;
}

.home .main-header, main-header .header-content {
    max-width: 2300px;
    margin: 0 auto;
}

.main-header h1, .main-header p {
    color: #d0d0d0;
}

.main-header h1 {
    text-align: center;
    margin: 0;
}

.main-header p.strapline {
    display: none;
}

.main-header .menu {
    max-width: 25em;
    margin: 0 auto;
    display: flex;
    align-items: baseline;
    justify-content: space-around;
}

.main-header .menu a {
    display: block;
    color: #d0d0d0;
    text-decoration: none;
    padding-bottom: 0.2em;
    line-height: 1.5em;
    height: 1.5em;
}

.main-header .menu a:hover {
    border-bottom: 3px solid #d0d0d0;
}

#page-content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 1em;
    grid-row-gap: 3em;
    width: 80%;
    max-width: 2300px;
    margin: 0 auto;
}

#footer {
    background: #333;
    padding: 1em 0 3em 0;
    text-align: center;
}

#footer p {
    color: #888;
    text-align: center;
}

#footer a {
    color: #888;
    border-bottom: 1px solid #555;
}

/*
 * Explore
 */

.graph-container {
    grid-column: span 12;
    grid-row: span 1;
}

#page-content .intro {
    grid-column: span 12;
    font-size: 1.2em;
    whitespace: pre-wrap;
}

 .stats-digest {
  grid-column: span 12;
  font-size: 1.75em;
  text-align: center;
  background-color: #fafafa;
  border: 1px solid #d0d0d0;
  border-radius: 4px;
  padding: 1em 0;
}

.stats-digest h2 {
  font-weight: 900;
  margin-bottom: 0.5em
}

.stats-digest h2 span {
    font-size: 0.8em;
    font-weight: normal;
    color: #777;
}

.stats-digest .today {
  font-size: 1.5em;
  font-weight: 900;
}

.stats-digest .yesterday {
  color: #777;
}

#div_dd {
    grid-column: 5 / 9;
    grid-row: span 1;
    border: 1px solid #c0c0c0;
    border-radius: 4px;
    background: #f0f0f0;
    padding: 2em;
}

.input-container {
    max-width: 60em;
    margin-bottom: 1em;
    line-height: 2em;
}

.input-container label {
    font-size: 1em;
    margin-right: 1.5em;
    margin-bottom: 0;
}

.input-container input[type=checkbox], .input-container input[type=radio] {
    margin-right: 0.2em;
    position: relative;
    bottom: -0.1em;
}

.value-select .value-select-label {
    font-size: 1em;
}

#smoothing_growth > div {
    flex-direction: row-reverse;
    align-item: baseline;
    justify-content: left;
}

.modebar {
display: none !important;
}
/*
 * You predict
 */
#page-content .predict-link {
    display: inline-block;
    grid-column: span 12;
    font-size: 1.3em;
    margin: 0 auto 3em auto;
    padding: 0.75em 3em;
    background: rgb(48,48,48);
    background: linear-gradient(90deg, rgba(100,100,100,1) 0%, rgba(110,110,110,1) 83%, rgba(140,140,140,1) 100%);
    color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #888;
}

#page-content .predict-link:after {
    content: '\27a4';
    position: relative;
    right: -2em;
}

#page-content .predict-link:hover {
    text-decoration: none;
}


@media (min-width: 780px) {
    .home .main-header {/*
        display: grid;
        grid-template-columns: repeat(12, 1fr); */
        background: url('/assets/hero-2300.gif');
        background-size: 100%;
        background-position: bottom;
        font-size: 3em;
        padding-top: 4.5em;
        padding-bottom: 6em;
    }

    .home .main-header .header-content {
        margin: 0 auto 0.3em auto;
    }

    .home .main-header p.strapline {
        display: block;
        font-size: 0.75em;
        text-align: center;
        color: #d0d0d0;
    }
}

@media (min-width: 780px and width: 1600px) {
    .home .main-header {
        background-image: url('/assets/hero-1600.gif');
    }
}

@media (max-width: 1300px) {
    .home .main-header  {
        font-size: 2em;
    }

    #page-content .stats-digest {
        font-size: 1.2em;
    }
}

@media (max-width: 780px) {
    .home .main-header {
        font-size: 1em;
    }

    .home .main-header p.strapline, .home .main-header .menu a {
        font-size: 1em;
    }

    #page-content {
        width: 95%;
    }

    #page-content .stats-digest {
        font-size: 0.8em;
    }
}