body {
    max-width: 2300px;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6, p, div, span {
    color: #333;
}

/*
 * Page scaffolding
 */

.main-header {
    display: grid;
    grid-template-columns: auto 1em 6em 1em auto;
    background: url('/assets/hero-2300.gif');
    background-size: 100%;
    background-position: bottom;
    font-size: 10em;
    font-family: "Raleway";
    padding-top: 1.5em;
    padding-bottom: 2em;
    margin-bottom: 3rem;
}

.main-header .header-content {
    grid-column: 2 / 5;
    grid-row-start: 1;
    margin-bottom: 0.3em;
}

.main-header h1, .main-header p {
    color: #d0d0d0;
}

.main-header h1 {
    font-size: 1em;
    text-align: center;
    line-height: 0.9em;
    margin: 0;
}

.main-header p.strapline {
    font-size: 0.2em;
    text-align: center;
    color: #d0d0d0;
}

.main-header .menu {
    grid-column: 3;
    grid-row-start: 2;
    display: flex;
    align-items: baseline;
    justify-content: space-around;
}

.main-header .menu a {
    display: block;
    font-size: 0.3em;
    color: #d0d0d0;
    text-decoration: none;
    padding-bottom: 0.2em;
    line-height: 1.5em;
    height: 1.5em;
}

.main-header .menu a:hover {
    border-bottom: 3px solid #d0d0d0;
}

#page-content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 1em;
    grid-row-gap: 3em;
    width: 80%;
    margin: 0 auto;
}

#footer {
    background: #333;
    padding: 1em 0 3em 0;
    color: #888;
    text-align: center;
}

/*
 * Explore
 */

#div_dd {
    grid-column: span 12;
    grid-row: span 1;
    border: 1px solid #c0c0c0;
    border-radius: 4px;
    background: #f0f0f0;
    padding: 2em;
}

.graph-container {
    grid-column: span 12;
    grid-row: span 1;
}

#page-content .intro {
    grid-column: span 12;
    whitespace: pre-wrap;
}

#page-content .intro p {
    font-size: 1.4em;
}

 .stats-digest {
  grid-column: span 12;
  background-color: #fafafa;
  border: 1px solid #d0d0d0;
  border-radius: 4px;
  padding: 2em;
}

.stats-digest {
  font-size: 3em;
  text-align: center;
  background-color: #fafafa;
  border: 1px solid #d0d0d0;
  border-radius: 4px;
  padding: 1em 0;

}

.stats-digest h1 {
  font-size: 1.5em;
  font-weight: 900;
  margin-bottom: 0.5em
}

.stats-digest h1 span {
    font-size: 0.8em;
    font-weight: normal;
    color: #777;
}

.stats-digest > p {
  font-size: 1em;
  max-width: 100% !important;;
}

.stats-digest .today {
  font-size: 1.5em;
  font-weight: 900;
}

.stats-digest .yesterday {
  color: #777;
}

.input-container {
    max-width: 60em;
    margin-bottom: 1em;
    line-height: 2em;
}

.input-container label {
    font-size: 1em;
    margin-right: 1em;
    margin-bottom: 0;
}

.input-container input[type=checkbox] {
    height: 2em;
    vertical-align: middle;
    margin-right: 0.3em;
}

.value-select .value-select-label {
    font-size: 1em;
}

#smoothing_growth > div {
    flex-direction: row-reverse;
    align-item: baseline;
    justify-content: left;
}

/*
 * You predict
 */
#page-content .predict-link {
    display: inline-block;
    grid-column: span 12;
    font-size: 1.3em;
    margin: 0 auto 3em auto;
    padding: 0.75em 3em;
    background: rgb(48,48,48);
    background: linear-gradient(90deg, rgba(100,100,100,1) 0%, rgba(110,110,110,1) 83%, rgba(140,140,140,1) 100%);
    color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #888;
}

#page-content .predict-link:after {
    content: '\27a4';
    position: relative;
    right: -2em;
}

#page-content .predict-link:hover {
    text-decoration: none;
}


@media (max-width: 1600px) {
    .main-header {
        background-image: url('/assets/hero-1600.gif');
    }
}

@media (max-width: 1300px) {
    .main-header  {
        font-size: 5em;
    }
}

@media (max-width: 680px) {
    .main-header {
        font-size: 3em;
    }

    .main-header p.strapline, .main-header .menu a {
        font-size: 0.4em;
    }

    #page-content {
        width: 95%;
        font-size: 0.9em;
    }
}

@media (max-width: 400px) {
    .main-header {
        background-image: url('/assets/hero-400.gif');
    }
}